<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Customs\RestApi\Api\ProductRepositoryInterface" type="Customs\RestApi\Model\ProductRepository"/>
    <preference for="Customs\RestApi\Api\Data\ProductInterface" type="Customs\RestApi\Model\Data\Product"/>
</config>